---
layout: single
permalink: /thinkpad/
title: "ThinkPad"
author_profile: true
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---

<div class="home-intro">
  <p> I'm interested in a many things and like telling stories. </p>
</div>

<div class="home-sections">
  <section class="home-card home-focus">
    <p>Current posts:</p>
    <ul class="home-list">
      {% for post in site.posts %}
      <li><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</div>

<div class="home-widget">
  <h2>All posts</h2>
  <ul class="home-list">
    {% for post in site.posts %}
    <li><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
